# Default ignored files
/shelf/
/.idea/workspace.xml
/.idea
/out
# Datasource local storage ignored files
/../../../../../../:\Users\kazow\IdeaProjects\PSS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
